@charset "UTF-8";

body {
    background-image: url(../imagens/fundo.png);
}
/*Formatação Menu*/
nav#menu {
    display: block;
}

nav#menu ul {
    list-style: none;
    color: #000000;
    position: absolute;
    top: -20px;
    left: 900px;
}

nav#menu li {
    text-shadow: 1px rgba(0,0,0,.6);
    font-size: 15pt;
    display: inline-block;
    padding: 10px;
    margin: 2px;
}
div#capa{
    margin: 0 auto 0 auto;
}
/*Formatação Menu*/