@charset "UTF-8";

body {
    background-image: url(../imagens/fundo.png);
}
body#pag2 {
    background-image: url(../imagens/fundo2.png);
}

/*Formatação Menu*/
nav#menu {
    display: block;
}

nav#menu ul {
    list-style: none;
    color: #000000;
    position: absolute;
    top: -20px;
    left: 900px;
}

nav#menu li {
    font-size: 12pt;
    display: inline-block;
    padding: 10px;
    margin: 2px;
}
header#img{
    position: absolute; 
}
/*Formatação Menu*/

/*Configurando corpo*/
section img {
    position: absolute;
    right: 200px;
    top: 105px;
    margin-right: 50px;
}
section#principal article {
    position: absolute;
    top: 500px;
    width: 890px;
    left: 200px;
    text-align: center;
}
h1 {
    text-align: center;
}
p {
    font-size: 14pt;
    text-align: center;
}
section hr {
    border: 0px;
    border-top: 1px solid #000000;
}
/*Configurando corpo*/

/*Configurando a footer*/
footer hr {
    margin-top: 1000px;
    border: 0px;
    border-bottom: 1px solid #000000;
    text-align: center;
}
p#rodape {
    font-size: 10pt;
    color: slategrey;
    text-align: center;
}
/*Configurando a footer*/